{% extends "base.html" %}

{% block title %}Products{% endblock %}

{% block content %}
<section class="products-section">
    <h1>Products</h1>

    {% include "components/search.html" %}

    {% if error_message %}
        <div class="message message-error">
            {{ error_message }}
        </div>
    {% elif not products %}
        <div class="message">
            No products found.
        </div>
    {% else %}
        {% include "components/table.html" %}

        {% if total_pages > 1 %}
            {% include "components/pagination.html" %}
        {% endif %}
    {% endif %}
</section>
{% endblock %}